/* PULL IN AN API THAT PULLS WEATHER GIFS */
/* Maybe use giphy api? and query strings based on json that wheather returns */
body{
  background-color: darkslateblue;
}
/* Grid */
.layout {
  /* Set your own grid   */

  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  grid-template-rows: repeat(2, 1fr);
  margin: 50px 0 50px 0;
  color: white;
}
.time   {
grid-area: 1 / 2 / 2 / 3;
text-align: center;
border-radius: 50%;
height: 50vh;
width: 25vw;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.3rem;
gap: 3rem;
}
.refresh{
grid-area: 1/3/2/4;
font-size: 7rem;
display: flex;
justify-content: center;
align-items: center;

}
.date { 
  grid-area: 1 / 4 / 2 / 5;
  text-align: center; 
  border-radius: 50%;
  height: 50vh;
  width: 25vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
gap: 3rem;
} 
.weather {     
  grid-area: 2 / 3 / 2 / 4;
  text-align: center;
  border-radius: 50%;
  height: 50vh;
  width: 25vw;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
}
/* Widgets */
section {
 background-color: rgba(17, 199, 108, 0.178);
  padding: 1em;
  
  
  /* Relative Parent. Absolute Child */
  position: relative;
}
.gif{
  border-radius: 50%;
  height: 30vh;
  width: 15vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* Time */
.time {
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {

}
.weatherData{
display: flex;
flex-direction: column;
}
.city {
  
}

.temp {
  
}

.icon {
  height: 100px;
  width: 100px;
}
